.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content {
    width: 100%;
    text-align: initial;
    padding: 0 18px;
    align-self: flex-start;
}

.category {
    font-size: 12;
    color: gray;
}

.rating {
    font-weight: 700;
    justify-content: flex-start;
    display: flex;
}

.priceBefore {
    text-decoration: line-through;
    color: gray;
    padding: 0 25px;
    font-size: 18px;
    font-weight: 400;
}

.price {
    font-weight: 900;
    font-size: 26px;
    justify-content: flex-start;
    display: flex;
    color: var(--primary-color)
}

.quantity {
    display: flex;
    margin-bottom: 8%;
}

.quantityInput {
    padding: 12px 8px;
    border-radius: 35px;
    border: 1px solid #ccc;
    width: 32%;
    text-align: center;
    &:focus {
      outline: none;
      border-color: gray;
      background-color: #f5f5f5;
    } 
}